streamlit==1.50.0
python-dotenv==1.2.1
pytube==15.0.0
youtube-transcript-api==0.6.2
yt-dlp==2025.10.14

langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
openai==2.6.1

faiss-cpu==1.12.0
tiktoken==0.12.0
numpy==2.3.4
pandas==2.2.3
scikit-learn==1.5.2
